body{
  width: 100vw;
  height: 100vh;
  font-family: "Wawati SC" ,sans-serif;
  overflow: hidden;
}
.cover{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #faf8f9;
  color: #666;
  text-align: center;
  h1{
    margin-top: 30vh;
    font-size: 3em;
  }
  .btn-start{
    display: inline-block;
    font-size: 2em;
    transition: .2s;
    cursor: pointer;
  }
  .btn-start:hover{
    color: #333;
  }
}
.container{
  //width: 100vw;
  //height: 100vh;
  background: #FFFAD8;
  text-align: center;
  position: relative;
  will-change: transform;
}
.toast{
  position: fixed;
  width: 20%;
  min-width: 200px;
  height: 60px;
  background: #666;
  opacity: 0;
  border-radius: 5px;
  top: 0;
  left: 40px;
  right: 40px;
  margin: auto;
  color: #fff;
  text-align: center;
  line-height: 60px;
  transition: 1s;
}
canvas{
  position: absolute;
  top: 0;
  left: 0;
}